// SCSS HEX / RGB
$medium-slate-blue1: rgb(177, 157, 248);
$medium-slate-blue: #7854f7ff;
$medium-slate-blue2: #7754f728;
$medium-slate-blue3: rgb(108, 76, 221);
$medium-slate-blue4: rgb(97, 68, 202);
$iris: #4756dfff;
$celtic-blue: #0f69c9ff;
$steel-blue: #3f79aeff;
$r-blue: #5ed3f3;
$magnolia: #f4f4ffff;
$tomato: #fa6444ff;
$Seashell: #fff4ef;
$maximum-yellow-red: #ffbb41ff;
$fulvous: #de8300ff;
$green-pantone: #13b237ff;
$dark-turquoise: #44d4d7ff;
$white: #fff;
$black: #000;
$cadet-blue-crayola: #78818a;
$cadet: #656c74;
$red: #FA243C;
$red-dark: #dd2238;
$red-dark2: #bb1e30;
$transparent: #ffffff00;

// ---- Background Color ----
.icon-box-bg-tomato {
  background: $tomato;
}

.icon-box-bg-celtic-blue {
  background: $celtic-blue;
}

.icon-box-bg-yello {
  background: $maximum-yellow-red;
}

.icon-box-bg-r-blue {
  background: $r-blue;
}

.icon-box-bg-green {
  background: $dark-turquoise;
}
.icon-box-bg-greenp {
  background: $green-pantone;
}

// ---- Text Color ----
.text-color-1 {
  color: $cadet-blue-crayola;
}

.text-color-2 {
  color: $cadet;
}