/* SCSS HEX */
$medium-slate-blue: #7854f7ff;
$medium-slate-blue2: #7754f728;
$medium-slate-blue3: rgb(108, 76, 221);
$medium-slate-blue4: rgb(97, 68, 202);
$iris: #4756dfff;
$celtic-blue: #0f69c9ff;
$steel-blue: #3f79aeff;
$magnolia: #f4f4ffff;
$tomato: #fa6444ff;
$maximum-yellow-red: #ffbb41ff;
$fulvous: #de8300ff;
$green-pantone: #13b237ff;
$dark-turquoise: #44d4d7ff;
$white: #fff;
$black: #000;