// ---- Logo ----
.logo {
  width: 10rem;
}

// ---- Buttons ----
.button-style {
  background: $medium-slate-blue;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;

  &:hover {
    background: $medium-slate-blue3;
    transition: 0.2s;
  }
  
  &:active {
    background: $medium-slate-blue4;
  }
}

.button-m {
  padding: 1rem 1.5rem;
}

.button-l {
  padding: 1.2rem 1.5rem;
}

// ---- Icons ----
.fa-chevron-down {
  color: $white;
  margin-left: 1rem;
}

.icon-box-l {
  width: 5rem;
  height: 5rem;
  @include flex-justify__c-items__c();
  color: $white;
  border-radius: 10px;
  font-size: 2rem;
}

.icon-box-m {
  width: 4rem;
  height: 4rem;
  @include flex-justify__c-items__c();
  color: $white;
  border-radius: 8px;
  font-size: 1.6rem;
}

// ---- Title ----
.title-1 {
  font: {
    size: 6rem;
    weight: 600;
  }
}

.title-2-700 {
  font: {
    size: 4rem;
    weight: 700;
  }
}

.title-2-800 {
  font: {
    size: 4rem;
    weight: 800;
  }
}

.title-3 {
  font-size: 3rem;
}

.title-4 {
  font-size: 2rem;
}

.title-5 {
  font: {
    size: 1.6rem;
    weight: 500;
  }
}

.title-4-big {
  font-size: 1.7rem;
}

// ---- Text and Paragraph ----
.text-1 {
  font-size: 1.2rem;
}

.text-2 {
  font-size: 1.4rem;
}

.text-3 {
  font-size: 1.6rem;
}

// ---- Font Weight ----
.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

// ---- Cards ----
// Feature Card
.feature-card {
  width: 21rem;
  height: 22rem;
  @include flex-column-justify__c-items__c();
  background: $magnolia;
  padding: 3rem 2.5rem;
  margin-right: 2rem;
  border-radius: 5px;
  text-align: center;
  
  h4 {
    margin-top: 2rem;
  }
  
  p {
    margin-top: 1.5rem;
  }
  
  &:hover {
    background: $Seashell;
    box-shadow: 25px 25px 35px 15px rgba(190, 190, 190, 0.096);
    transition: 0.2s;
  }
}

// Rectangle Card
.Rectangle-card {
  background: $white;
  padding: 2rem 3rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: 25px 25px 35px 15px rgba(190, 190, 190, 0.171);

  .Rectangle-card__info {
    margin-top: 2rem;
  }
}

// ---- Image ----
.image-cotainer {
  width: 22rem;
}

.image-cotainer-m {
  width: 50rem;
}

.image-cotainer-s {
  width: 60rem;
}

// ---- Border ----
.border-left-green {
  border-left: 4px solid $green-pantone;
}

.border-left-tomato {
  border-left: 4px solid $tomato;
}

.border-left-celtic {
  border-left: 4px solid $celtic-blue;
}

// ---- Scrollbar for Google Chrome ----
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $medium-slate-blue1;
}

::-webkit-scrollbar-thumb {
  background-color: $medium-slate-blue;
  border-radius: 5px;
}

// ::-webkit-scrollbar-button {
//   background-color: $medium-slate-blue5;
//   border-radius: 2px;
// }

// ---- Scrollbar for FireFox ----
:root {
  scrollbar-color: $medium-slate-blue $medium-slate-blue2 !important;
  scrollbar-width: thin !important;
}