// Import Sass Files
@import './globalStyling/reset';
@import './globalStyling/colors';
@import './globalStyling/variables';
@import './globalStyling/components';

// ---- Section style ----
.section-style-magnolia {
  @include flex-justify__c-items__c();
  background: $magnolia;
  padding: 0 10rem;
}

.section-style-white {
  @include flex-justify__c-items__c();
  background: $white;
  padding: 0 10rem;
}

.section-container {
  width: 100%;
  @include flex-justify__s-items__c();
  background: $white;
  padding: 2rem 1rem;
}

.content-container {
  height: 100%;
  @include flex-column-justify__s-items__s();
  background: $white;
  padding: 1rem 4rem;
}

// ---- Hero section ----
.section-hero {
  width: 100%;
  @include flex-justify__c-items__c();
  padding: 0 10rem;
}

#hero-content {
  width: 50%;
  @include flex-column-justify__c-items__s();
}

#hero-image-container {
  width: 50%;

  #hero-image {
    width: 100%;
  }
}

.hero-title {
  width: 80%;
}

.hero-text {
  margin-top: 2rem;
}

#hero-btn-container {
  margin-top: 2rem;

  #hero-btn-container__text {
    margin-left: 1rem;
  }
}

// ---- Our Process Section ----
// .section-our-process {
  // @include flex-justify__c-items__c();
  // background: $magnolia;
  // padding: 0 10rem;
// }

// Our Process
.section-our-process__title {
  width: 20rem;
  
  .text-color-1 {
    margin-top: 1.5rem;
  }
}

.feature-card {
  @include transform-y();
  @include transform-back();
}

// ---- Features / Mobile App Section ----
.section-features {
  margin-top: 18rem;

  .section-features__container {
    width: 100%;
    height: 100%;
    @include flex-justify__c-items__c();
  }
}

.mobile-app-image {
  // margin-right: 76rem;
  position: relative;
  transform: translate3d(0,0,0) scale(1)!important;
  opacity: 1!important;
  
  img {
    position: absolute;
    top: -26rem;
    left: 0;
    z-index: 2;
  }
}

.laptop-image {
  margin-left: 10rem;
}

.features-content {
  width: 50rem;
  margin-left: 5rem;
}

.features-title {
  margin-top: 2rem;
}

.features-info {
  margin-top: 2rem;
}

.mobile-app-features {
  width: 60%;
  @include flex-justify__sb-items__c();
  margin-top: 4rem;

  .mobile-app-feature {
    @include flex-column-justify__c-items__c();

    h5 {
      margin-top: 1rem;
    }
  }
}

// ---- Offers Section ----
.section-offers {
  margin-top: 10rem;
  @include flex-column-justify__c-items__c();
}

// Header
.offer-title {
  margin-top: 4rem;
}

.section-offers__content {
  margin: 4rem;
  @include flex-justify__c-items__c();
}

.offers-container {
  margin-left: 10rem;

  .Rectangle-card {
    width: 80%;
    @include transform-x();
    @include transform-back();
  }
}

// ---- Sign Up Modal ----
.section-style-white {
  .sign-up-modal {
    margin-top: 10rem;
    
  }
}