@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

input {
  border: 0;
  outline: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

hr {
  border: 0;
}

/* SCSS HEX */
.logo {
  width: 10rem;
}

.button-style {
  background: #7854f7ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}
.button-style:hover {
  background: #6c4cdd;
  transition: 0.2s;
}
.button-style:active {
  background: #6144ca;
}

.button-m {
  padding: 1rem 1.5rem;
}

.button-l {
  padding: 1.2rem 1.5rem;
}

.fa-chevron-down {
  color: #fff;
  margin-left: 1rem;
}

.icon-box {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  font-size: 2rem;
}

.icon-box-bg-tomato {
  background: #fa6444ff;
}

.icon-box-bg-celtic-blue {
  background: #0f69c9ff;
}

.icon-box-bg-yello {
  background: #ffbb41ff;
}

.icon-box-bg-green {
  background: #44d4d7ff;
}

.title-1 {
  font-size: 6rem;
  font-weight: 600;
}

.title-2 {
  font-size: 4rem;
  font-weight: 800;
}

.title-4 {
  font-size: 2rem;
  font-weight: 500;
}

.title-4-big {
  font-size: 1.7rem;
}

.text-1 {
  font-size: 1.2rem;
}

.text-color-1 {
  color: #78818a;
}

.feature-card {
  width: 21rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2.5rem;
  margin-right: 2rem;
  border-radius: 5px;
  text-align: center;
}
.feature-card h4 {
  margin-top: 2rem;
}
.feature-card p {
  margin-top: 1.5rem;
}
.feature-card:hover {
  background: #f4f4ffff;
  box-shadow: 25px 25px 35px 15px rgba(128, 128, 128, 0.096);
  transition: 0.2s;
}

.section-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}

#hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-image-container {
  width: 50%;
}
#hero-image-container #hero-image {
  width: 100%;
}

.hero-title {
  width: 80%;
}

.hero-text {
  margin-top: 2rem;
}

#hero-btn-container {
  margin-top: 2rem;
}
#hero-btn-container #hero-btn-container__text {
  margin-left: 1rem;
}

.section-our-process {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4ffff;
  padding: 0 10rem;
}

.section-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  padding: 5rem 1rem;
}

.section-our-process__title {
  width: 20rem;
}
.section-our-process__title .text-color-1 {
  margin-top: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
